<p>admin works!</p>

Hi

<div style="width: 100%;">



<div style="margin:10px;background-color: rgb(175, 220, 220);display: ; width:95%">

    <div class="row" style="">

        <div class="col-5" style="border: 1px solid red;margin: 10px;">
            <form name="appDeatils" #frm="ngForm" (ngSubmit)="frm.form.valid && onSub(frm)">
                <table style="" class="table table-primary">
                    <tr>
                        <th>Sr</th>
                        <th>Details</th>
                        <th>Input</th>
                    </tr>
                    <tr>
                        <input type="hidden" name="id" #id="ngModel" ngModel [(ngModel)]="selectedData.id">
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><label for="uName" class="">UserName:</label>
                        </td>
                        <td><input placeholder="please enter your username" type="text" name="uname" id="" class="form-control"
                            #uname="ngModel" ngModel [(ngModel)]="selectedData.uname"
                            required [ngClass]="{'is-invalid':frm.submitted && uname.invalid}"
                            >
                           <div style="color: red;" *ngIf="frm.submitted && uname.invalid">User name is required</div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><label for="eml" class="">Email:</label>
                        </td>
                        <td><input type="email" name="eml" id="" class="form-control" #eml="ngModel" ngModel [(ngModel)]="selectedData.eml" required [ngClass]="{'is-invalid':frm.submitted && eml.invalid}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        
                            <div *ngIf="frm.submitted && eml.invalid" style="color: red;" class="invalid-feedback">email is required</div>
                            <div *ngIf="frm.submitted && eml.errors?.['pattern'] " class="invalid-feedback" style="color: red">Please enter valid email</div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><label for="app" class="">Application:</label>
                        </td>
                        <td >
                            <select class="form-select" size="3"  style="width: 100%;"  name="app" #app="ngModel" ngModel [(ngModel)]="selectedData.app" >
                                <option  *ngFor="let i of appList">{{i}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><label for="license">license: </label></td>
                        <td><label for="yes">Yes</label>
                            <input type="radio" name="license" value="Y" #license="ngModel" ngModel [(ngModel)]="selectedData.license" >
                        <label for="no">No</label>
                        <input type="radio" name="license" value="N" #license="ngModel" ngModel [(ngModel)]="selectedData.license"  >
                        </td>
                        <!-- <div *ngIf="frm.submitted && license.invalid">Please select license</div> -->
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><label for="loc">Location:</label></td>
                        <td >
                            <select name="loc" style="width: 100%;" #loc="ngModel" ngModel [(ngModel)]="selectedData.loc" >
                                <option *ngFor="let i of locList">{{i}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox" role="switch">checkbox</td>
                        <td class="form-chech form-switch"><input class="form-check-input" type="checkbox" role="" id=""></td>
                    </tr>
                    <tr style="text-align: right;">
                        
                        <td colspan="3">
                            <Button type="button" (click)="update(frm)"  style="background-color: blue;" class="btn btn-sm">Update</Button>
                            
                            <Button type="submit" class="btn btn-sm btn-outline-success">submit</Button></td>
                    </tr>

                </table>

            </form>
        </div>
        <div class="col-6" style="border: 1px solid green;height: 500px;overflow: auto;">
            <table class="table table-striped-columns table-hover 1" >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Application</th>
                    <th scope="col">license</th>
                    <th scope="col">Location</th>
                    <th scope="col" colspan="2">Action</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of appForAdminData">
                    <th scope="row">1</th>
                    <td>{{i.uname}}</td>
                    <td>{{i.eml}}</td>
                    <td>{{i.app}}</td>
                    <td>{{i.license}}</td>
                    <td>{{i.loc}}</td>
                    <td><button (click)="edit(i)" class="btn btn-info btn-sm">Edit</button></td>
                    <td><button (click)="delete(i)" class="btn btn-danger btn-sm">Delete</button></td>

                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
<p>lorem100
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error assumenda delectus iste voluptatibus sequi! Aperiam commodi quasi, nostrum, corporis odio ipsum qui recusandae sapiente saepe sequi harum ad neque corrupti possimus accusamus similique! Tenetur obcaecati temporibus, dolorum a consectetur ipsum ut! Sed minus tempora consequuntur? Expedita eaque reiciendis enim dolore, magni quam quidem magnam ratione corporis aut eos tenetur blanditiis vero tempore voluptas dicta aliquam delectus temporibus consequatur beatae, eligendi accusamus repellat, maiores tempora. Cum obcaecati numquam amet ullam accusamus recusandae, consequuntur consequatur sequi ipsam quia vel rem unde delectus? Ad perspiciatis eius fugit assumenda fuga beatae? Numquam, eveniet vero!
</p>