<div class="container-fluid" style="background-color: rgb(182, 237, 237);">
    <div style="">
        Please sign in for other features <button class="btn btn-outline-success" (click)="goToLogin()">signin/login</button>
    </div>

    <div style=" display: flex;flex-direction:column;; height: 150px; align-items: center;flex-wrap: wrap;overflow: auto;margin: 10px 0px 10px 0px;">

        <div class="card1">1</div>
        <div class="card1">2</div>
        <div class="card1">3</div>
        <div class="card1">4</div>
        <div class="card1">5</div>

    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aliquid blanditiis in. Et, quisquam tempore consequatur dignissimos similique incidunt modi molestias tempora? Culpa officia id repudiandae molestias laboriosam reprehenderit adipisci.</p>
    </div>
</div>















<!-- <div>
    <p>parent start: {{sample1}}</p>


<app-footer [pdata]="sample1"

(dfc)="getData($event)"></app-footer>

<hr>
<p> data from child :{{dataFC}}</p>
<br>
<hr>
<p>viewChild</p>

<p>test : {{test}}</p>
<p>t :{{t}}</p>

<p></p>
    <p>parent end</p>
</div> -->

<!-- <p>home </p>

<p>data : {{dt1}}</p> -->