<p>eth-h works!</p>Shree


<div class="container">
  <div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="modalClick()">
  fill details ReactiveForm
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cityCountry" (ngSubmit)="cityCountry.status=='VALID' && OnSub()" >
          <div class="form-group">
            <label for="fname">Name: <span style="color: red;">*</span></label>
            <input type="text" name="fname" id="ff" formControlName="fname" [ngClass]="{error:f.fname.errors && isSub}">
            <div *ngIf="f.fname.errors && isSub" class="e">Name is required</div>
          </div>
          <div class="form-group">
            <label for="country">Country: <span style="color: red;">*</span></label>
            <select name="country" id="country" [(ngModel)]="selectedCountry" (change)="onCountryChange()" formControlName="country" [ngClass]="{error:f.country.errors && isSub}">
              <!-- <option disabled selected>--select country--</option> -->
              <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
            </select>
            <label for="city">City:</label>
            <select name="city" id="" [(ngModel)]="selectedCity" [disabled]="cities.length===0" formControlName="city">
              <option value="" disabled selected>--select city--</option>
              <option *ngFor="let city of cities" [value]="city">{{city}}</option>
            </select>
          </div>
          <!-- <div class="form-group">
        <button type="button" class="btn btn-primary">Submit</button>

          </div> -->
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="forValidation()" >Save</button>
      </div>
    </form>
  </div>
    
    
    </div>
  </div>
</div>
  </div>
</div>




<div class="d-flex" style="height: 500px;margin: 10px;color: rgb(230, 39, 39);width: 10px;">
    <div style="width: 10px;" class="vr"></div>
  </div>

<div class="card col-3">
    <img src="..." class="card-img-top" alt="...">

    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card col-3" aria-hidden="true">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-wave">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
        </p>
        <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
    </div>
</div>

<div class="row">
    <div class="col-4">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
      </div>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h4 id="list-item-1">Item 1</h4>
        <p>...</p>
        <h4 id="list-item-2">Item 2</h4>
        <p>...</p>
        <h4 id="list-item-3">Item 3</h4>
        <p>...</p>
        <h4 id="list-item-4">Item 4</h4>
        <p>...</p>
      </div>
    </div>
  </div>

  <div class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
<hr>

<button type="button" class="btn btn-secondary"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="This top tooltip is themed via CSS variables.">
  Custom tooltip
</button>
<div class="text-bg-primary p-4">Primary with contrasting color</div>
<div class="d-flex" style="height: 200px;">
    <div class="vr"></div>
  </div>